<p>
   Hier findet Ihr alle relevanten Links unseres Podcasts <strong>Piffle-Paffle Wiffle-Waffle</strong>.
</p>
<ul>
   <li><a href="https://soundcloud.com/ppww-podcast/jubilaumsrap-feat-mc-nele" target="_blank">Jubiläumsrap feat. MC Nele</a></li>
</ul>

<ul>
   <li>Aktuelle Episode "<strong>{{ $.Site.Params.currentEpisode.title }}</strong>"</li>
   <ul>
      {{- range $.Site.Params.currentEpisode.links -}}
         {{ if .url }}
            <li>
               bei <a href="{{ .url | safeURL }}" target="_blank">{{ .title }}</a>
            </li>
         {{ end }}
      {{- end -}}
   </ul>
   <li><a href="https://open.spotify.com/playlist/42WICj6hxEiwdJVmSPSHOx" target="_blank">Musikbetankung für Ahnungslose (Spotify Playlist)</a></li>
   <li><a href="https://ppww.podigee.io/" target="_blank">Unser Blog bei Podigee</a></li>
</ul>
<div style="margin-top: 30px; max-width: 70%">
   <script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="https://ppww.podigee.io/embed?context=external"></script>
</div>
