<p>
   Hier findet Ihr die aktuellen Links zu unserem Podcast <strong>Piffle-Paffle Wiffle-Waffle</strong>.
</p>
<ul>
   <li><a href="https://open.spotify.com/episode/0vgfjUEhzdhQOKjIGKf6XX?si=31-kMgrHRV2YKOZilUehjg">Aktuelle Episode bei Spotify</a></li>
   <li><a href="https://podcasts.apple.com/de/podcast/piffle-paffle-wiffle-waffle-podcast/id1507539185?l=en#episodeGuid=847a8b8a689f3b2484d96d5d39870915">Aktuelle Episode bei Apple Podcats</a></li>
   <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9wcHd3LnBvZGlnZWUuaW8vZmVlZC9tcDM/episode/ODQ3YThiOGE2ODlmM2IyNDg0ZDk2ZDVkMzk4NzA5MTU">Aktuelle Episode bei Google Podcasts</a></li>
   <li><a href="http://www.google.de">Aktuelle Episode bei Amazon Music</a></li>
</ul>
